.title{
    background-color: coral;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-transform: capitalize;
  }
  
  .content{
    display: flex;
    gap: 50px;
  }


  .container{
    flex:5
  }
  
  .title1{
    margin: 50px 0px;
  }
  